
.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*table*/

table {

}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 0 10px;
  font-size: 12px;
}
th {
  line-height: 30px;
}

.center {
  text-align: center;
}

.filter-areas {
  padding-left: 20px;
}